
root = true

[*.{go}]
# Go convention: use tabs for indentation
indent_style = tab
indent_size = tab

[*.{md,txt,yml,yaml,html,css,js,ts,py}]
indent_style = space
indent_size = 2

[*.]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

